## File options

--exclude Pods
--exclude node_modules
--swiftversion 5.9

## Enabled rules

--enable andOperator
--enable anyObjectProtocol
--enable blankLinesAroundMark
--enable blankLinesBetweenScopes
--enable braces
--enable consecutiveBlankLines
--enable consecutiveSpaces
--enable duplicateimports
--enable elseOnSameLine
--enable emptybraces
--enable enumnamespaces
--enable extensionaccesscontrol
--enable fileHeader
--enable indent
--enable initcoderunavailable
--enable isempty
--enable leadingdelimiters
--enable linebreakAtEndOfFile
--enable marktypes
--enable numberFormatting
--enable organizeDeclarations
--enable preferForLoop
--enable preferkeypath
--enable redundantbackticks
--enable redundantBreak
--enable redundantClosure
--enable redundantextensionacl
--enable redundantfileprivate
--enable redundantGet
--enable redundantInternal
--enable redundantlet
--enable redundantLetError
--enable redundantnilinit
--enable redundantobjc
--enable redundantparens
--enable redundantpattern
--enable redundantrawvalues
--enable redundantself
--enable redundanttype
--enable redundantvoidreturntype
--enable semicolons
--enable sortImports
--enable spacearoundbraces
--enable spacearoundbrackets
--enable spacearoundcomments
--enable spacearoundgenerics
--enable spacearoundoperators
--enable spacearoundparens
--enable spaceinsidebraces
--enable spaceinsidebrackets
--enable spaceinsidecomments
--enable spaceinsidegenerics
--enable spaceinsideparens
--enable trailingclosures
--enable trailingCommas
--enable todos
--enable typesugar
--enable wrapArguments
--enable wrapAttributes
--enable wrapConditionalBodies
--enable wrapEnumCases
--enable wrapLoopBodies
--enable wrapmultilinestatementbraces


## Configuration of specific rules

### Number formatting
--decimalgrouping 3
--hexgrouping 4,8
--binarygrouping 4

### MARK
--marktypes never

### Wrap
--wraparguments before-first
--wrapcollections before-first
--wrapconditions preserve
--wrapeffects preserve
--wrapenumcases always
--wrapparameters before-first
--wrapreturntype preserve
--wrapternary default
--wraptypealiases preserve

### Attributes
--funcattributes prev-line
--typeattributes prev-line
--varattributes same-line

### Else
--elseposition same-line
--guardelse same-line

### Loops
--anonymousforeach convert
--onelineforeach convert

### Declarations
--markcategories true
--categorymark MARK: - %c

### Others
--commas inline
--ifdef noindent
--indent 4
--indentstrings true
--linebreaks lf ##default
--maxwidth 80
--patternlet inline
--self init-only
--selfrequired 
--semicolons never
--stripunusedargs closure-only
--trimwhitespace always
--voidtype void


## Disabled rules

### SwiftFormat also removes from funcs, so let's let SwiftLint takes care of it.
--disable redundantReturn

### SwiftFormat hard wraps comments without bringing the contents of the next line up, which looks pretty bad.
--disable wrapSingleLineComments
