<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aps-environment</key>
	<string>{{ app.entitlements.release.aps_environment }}</string>
	<key>com.apple.developer.associated-domains</key>
	<array>
		{{ app.entitlements.release.associated_domains }}
	</array>
	<key>keychain-access-groups</key>
	<array>
		<string>{{ app.bundle_id}}.parra.sharedkeychain</string>
	</array>
</dict>
</plist>